* {
	font-family: "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: inherit;
	font-weight: 300;
	color: white;
	background: none;
	border: none;
	box-shadow: none;
	outline: none;
	padding: 0px;
	margin: 0px;
}


window {
/* 	background: black; */
	font-size: 20px;
}

.settings, .keeb, .term, .overview, .steam, .quodlibet {
	padding: 0px 12px 4px 12px;
}

.pulseaudio, .wifi, .bluetooth, .backlight, #language, .rotate-screen {
	padding: 12px 12px;
}

#language {
font-size: 20px;
}

.run, .fullscreen, .float, .center, .resize, .close {
	padding: 0px 12px;
	margin: 12px 0;
}
.close {
	border-left: 1px solid rgb(112,111,110);
}
.run {
	border-right: 1px solid rgb(112,111,110);
}

.time {
	font-weight: 200;
	margin-top: -6px;
	color: #a0a0a0;
}
#battery {
	margin-top: -6px;
	font-weight: 200;
}
.battery {
	margin-top: -4px;
}


#pulseaudio-slider slider, #backlight-slider slider {
	min-height: 0px;
	min-width: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
	color: rgb(233,58,154);
	outline: none;
}

#pulseaudio-slider trough, #backlight-slider trough {
	min-width: 16px;
	min-height: 200px;
	border-radius: 5px;
	background: rgba(233,58,154, 0.2);
	margin-top: 12px;
	border: 1px solid rgb(233,58,154);
}

#pulseaudio-slider highlight, #backlight-slider highlight {
	min-height: 0px;
	border-radius: 4px;
	border: 0px;
	background-color: rgba(233,58,154, 0.5);
}

.modules-left {
	margin-left: 8px;
}

.cutout .modules-center{
	background: black;
	border-radius: 0 0 10px 10px;
	padding: 0 12px 2px 12px;
}

.actions .modules-center, .overview .modules-center {
	background: rgb(41, 44, 48);
	border-radius: 5px;
	box-shadow: 0 0 7.5px 0 black;
	margin: 20px;
}

.modules-right {
	margin-right: 8px;
}

#battery.excess { color: #40bfbf; }
#battery.normal { color: #a0a0a0; }
#battery.warning { color: #bfbf40; }
#battery.critical { color: #bf4040; }
