input {
	keyboard {
		xkb {
			layout "us"
		}
		numlock
	}

	mouse {
		accel-speed 0
		accel-profile "flat"
	}

	disable-power-key-handling
	workspace-auto-back-and-forth
	focus-follows-mouse max-scroll-amount="0%"
}


gestures {
	hot-corners { off; }
}


layout {
	gaps 0
	center-focused-column "never"

	background-color "#00000000"

	preset-column-widths {
		proportion 0.5
		proportion 1.0
	}
	default-column-width { proportion 1.0; }

	insert-hint { color "#A5D6A7";}

	focus-ring { off; }
	border { off; }
	shadow { off; }

	struts {
		left 0
		right 0
		top 0
		bottom 0
	}
}


animations {
	overview-open-close {
		duration-ms 150
		curve "ease-out-quad"
	}
}


overview {
	backdrop-color "black"

	workspace-shadow {
		off
	}
}


hotkey-overlay {
	skip-at-startup
}


prefer-no-csd


spawn-at-startup "steam"
spawn-at-startup "sunsetr"
spawn-at-startup "tlpctl" "balanced"


layer-rule {
	match layer="background"
	place-within-backdrop true
}


window-rule {
	block-out-from "screencast"
}

window-rule {
	match app-id=r"steam_app_293760"
	match app-id=r"steam_app_397540"	//Borderlands 3
	open-fullscreen true
}


binds {
	Mod+C repeat=false { close-window; }
	Mod+Q allow-inhibiting=false { spawn "foot"; }

	Mod+Left allow-inhibiting=false { focus-column-left; }
	Mod+Right allow-inhibiting=false { focus-column-right; }
	Mod+Up allow-inhibiting=false { focus-workspace-up; }
	Mod+Down allow-inhibiting=false { focus-workspace-down; }

	Mod+WheelScrollUp cooldown-ms=10 { focus-column-left; }
	Mod+WheelScrollDown cooldown-ms=10 { focus-column-right; }

	Mod+O allow-inhibiting=false { toggle-overview; }
}


include optional=true "pc.kdl"
include optional=true "steamdeck.kdl"
