input {
	keyboard {
		xkb {
			layout "us, de"
		}
		numlock
	}
	touchpad {
		tap
		drag true
		natural-scroll
		click-method "button-areas"
		scroll-method "edge"
		accel-profile "adaptive"
		accel-speed 0
	}
	mouse {
		accel-speed -0.965
		accel-profile "flat"
	}
	touch {
		map-to-output "eDP-1"
	}

	disable-power-key-handling
	workspace-auto-back-and-forth
	focus-follows-mouse max-scroll-amount="0%"
}


gestures {
	hot-corners {
		off
	}
}


output "eDP-1" {
	mode "2560x1600@60"
	scale 2

	layout {
		gaps 20
		struts {
			left -20
			right -20
			top -20
			bottom 40
		}
	}
}
output "DP-1" {
	mode "3440x1440@160"
	scale 1.2
	variable-refresh-rate on-demand=true
	focus-at-startup
	position x=1920 y=1080

	layout {
		preset-column-widths {
			proportion 0.3333
			proportion 0.5
			proportion 0.6666
			proportion 1.0
		}
		default-column-width { proportion 0.5; }
	}
}
output "DP-2" {
	mode "1920x1080@144.001"
	variable-refresh-rate on-demand=true
	position x=0 y=1080
}
output "HDMI-A-1" {
	position x=2400 y=0
}


layout {
	gaps 40
	center-focused-column "never"

	background-color "#00000000"

	preset-column-widths {
		proportion 0.5
		proportion 1.0
	}
	default-column-width { proportion 1.0; }

	insert-hint { color "#A5D6A7";}

	focus-ring {
		off
		width 1.5
		active-color "#A5D6A7"
//		active-gradient from="#C5E1A5" to="#A5D6A7" angle=135

		inactive-color "#00000000"
	}

	border {
		off
		width 0

		active-color "black"
		inactive-color "black"
	}
	shadow {
		on
		softness 10
		spread 5
		offset x=0 y=0
		draw-behind-window false
		color "00000088"
		inactive-color "00000066"
	}
	struts {
		left 0
		right 0
		top 0
		bottom 0
	}
}


animations {
	overview-open-close {
		duration-ms 150
		curve "ease-out-quad"
	}
}


overview {
//	zoom 1
	workspace-shadow {
		off
	}
}


blur {
    on
    passes 2
    offset 2
    noise 0.02
    saturation 1
}


hotkey-overlay {
	skip-at-startup
}

spawn-sh-at-startup "inputplumber device 0 targets set keyboard touchpad deck-uhid"
spawn-sh-at-startup "inputplumber device 0 profile load /etc/nixos/niri/inputplumber/default.yaml"
//spawn-at-startup "quickshell" "-p" "/etc/nixos/niri/lockscreen/shell.qml"
spawn-at-startup "tlpctl" "balanced"
spawn-at-startup "steam"
spawn-at-startup "wpaperd" "-d"
spawn-at-startup "sunsetr"


prefer-no-csd

window-rule {
	match is-active=false
	opacity 0.85
}

window-rule {
	geometry-corner-radius 8
	clip-to-geometry true
	draw-border-with-background true
	open-maximized-to-edges false
	background-effect {
        blur true
    }
}

window-rule {
	match app-id="anki"
	default-column-width { proportion 0.3333; }
}

window-rule {
	match app-id="floorp" title="^Picture-in-Picture$"
	open-floating true
	opacity 1.0
	open-focused false
	min-height 180
	max-height 180
	default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
	match app-id="gamescope"
	match app-id="net.kuribo64.melonDS"
	match app-id="eden"
	match app-id=r"steam_app_\d+"
	match app-id="steam_proton"
	variable-refresh-rate true
}

window-rule {
	match app-id=r"steam_app_293760"
	open-fullscreen true
}


layer-rule {
	match namespace="wpaperd.*"
	match namespace="quickshell"
	place-within-backdrop true
}

binds {
	Super+K { spawn "qs" "-p" "/etc/nixos/niri/keyboard/shell.qml" "ipc" "call" "root" "toggle"; }

	XF86AudioLowerVolume allow-inhibiting=false { spawn "qs" "-p" "/etc/nixos/niri/keyboard/shell.qml" "ipc" "call" "root" "toggle"; }
	XF86AudioRaiseVolume allow-inhibiting=false { toggle-overview; }

	Mod+C repeat=false { close-window; }
	Mod+Q allow-inhibiting=false { spawn "foot"; }

	Mod+Left allow-inhibiting=false { focus-column-left; }
	Mod+Right allow-inhibiting=false { focus-column-right; }
	Mod+Up allow-inhibiting=false { focus-workspace-up; }
	Mod+Down allow-inhibiting=false { focus-workspace-down; }

	Mod+WheelScrollUp cooldown-ms=10 { focus-column-left; }
	Mod+WheelScrollDown cooldown-ms=10 { focus-column-right; }

	Mod+O allow-inhibiting=false { toggle-overview; }


}
