input {
	keyboard {
		xkb {
			layout "us"
		}
		numlock
	}

	mouse {
		accel-speed 0
		accel-profile "flat"
	}

	disable-power-key-handling
	workspace-auto-back-and-forth
	focus-follows-mouse max-scroll-amount="0%"
}


gestures {
	hot-corners { off; }
}


layout {
	gaps 10
	center-focused-column "never"

	background-color "#00000000"

	preset-column-widths {
		proportion 0.5
		proportion 1.0
	}
	default-column-width { proportion 1.0; }

	insert-hint { color "#A5D6A7";}

	focus-ring { off; }
	border { off; }
	shadow {
		on
		softness 10
		spread 0
		offset x=0 y=0
		draw-behind-window false
		color "000000AA"
		inactive-color "000000AA"
	}

	struts {
		left 0
		right 0
		top 0
		bottom 0
	}
}


blur {
    on
    passes 3
    offset 1
    noise 0.0
    saturation 1
}


animations {
	overview-open-close {
		duration-ms 150
		curve "ease-out-quad"
	}
}


overview {
	backdrop-color "black"

	workspace-shadow {
		off
	}
}


hotkey-overlay {
	skip-at-startup
}


prefer-no-csd


spawn-at-startup "steam"
spawn-at-startup "sunsetr"


layer-rule {
	match layer="background"
	place-within-backdrop true
}

layer-rule {
	match namespace="qs-taskbar"
	geometry-corner-radius 5
	shadow { on; }
	background-effect {
		xray false
		blur true
	}
}

layer-rule {
	match namespace="qs-cutout"
	geometry-corner-radius 13
	background-effect {
		xray false
		blur true
	}
}

layer-rule {
	match namespace="qs-keyboard"
	//geometry-corner-radius 8
	shadow { on; }
	background-effect {
		//xray false
		//blur true
	}
}


window-rule {
	match is-active=false
	opacity 0.85
}
window-rule {
	geometry-corner-radius 5
	clip-to-geometry true
	//draw-border-with-background true
	open-maximized-to-edges false
	background-effect {
		blur true
	}
}
window-rule {
	match is-floating=true
	background-effect {
		xray false
		blur true
	}
}
window-rule {
	exclude app-id="floorp"
	popups {
		background-effect {
			xray false
			blur true
		}
	}
}

window-rule {
	block-out-from "screencast"
}

window-rule {
	match app-id=r"steam_app_293760"
	match app-id=r"steam_app_397540"	//Borderlands 3
	open-fullscreen true
}


binds {
	Mod+C repeat=false { close-window; }
	Mod+Q allow-inhibiting=false { spawn "foot"; }

	Mod+Left allow-inhibiting=false { focus-column-left; }
	Mod+Right allow-inhibiting=false { focus-column-right; }
	Mod+Up allow-inhibiting=false { focus-workspace-up; }
	Mod+Down allow-inhibiting=false { focus-workspace-down; }

	Mod+WheelScrollUp cooldown-ms=10 { focus-column-left; }
	Mod+WheelScrollDown cooldown-ms=10 { focus-column-right; }

	Mod+O allow-inhibiting=false { toggle-overview; }
}


include optional=true "pc.kdl"
include optional=true "steamdeck.kdl"
